@{
    //ViewBag.Title = "Index";
}

<div id="dropbox-login" class="no-display">
    You are not authorized yet.
    <button>Dropbox Login</button>
</div>

<div id="directory-content" class="no-display">
    <div id="directory-content-header">
        <span id="directory-content-header-text" class="button expanded">&#x25B2; Files</span>
        <span id="directory-content-refresh" class="button">&nbsp;</span>
    </div>
    <div id="directory-content-entries"></div>
</div>

<div id="wmd" class="no-display">
    <div class="wmd-panel">
        <div id="wmd-button-bar"></div>
        <textarea class="wmd-input" id="wmd-input"></textarea>
    </div>
    
    <button id="save-button">Save</button>
    <button id="reset-button">Reset</button>

    <div id="wmd-preview" class="wmd-panel wmd-preview">&nbsp;</div>
    
    <button id="show-html">Show HTML</button>
    
    <textarea id="wmd-html" disabled="disabled"></textarea>
</div>