body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #000;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

#message-box {
    width: 100%;
}
#message-box div, html.no-js #message-box noscript {
    background-color: #FDEDC1;
    border-bottom: 1px solid #000;
    color: #000;
    display: block;
    padding: 0.5em 0;
    text-align: center;
}
#message-box .error {
    background-color: #FF4500;
    color: #ddd;
}
#message-box .error, #message-box .message {
    cursor: pointer;
}

.no-display {
    display: none;
}

#container {
    margin: 0 auto;
    max-width: 800px;
}

#top {
    background-image: url('logo.png');
    background-position: right center;
    background-repeat: no-repeat;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    padding: 0.75em 45px 0.75em 0;
    text-align: right;
}

#main {
    background-color: #fff;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    color: #000;
    padding: 0.75em 0.5em;
}

#footer {
    background-color: #555;
    color: #ccc;
    font-size: 0.75em;
    padding: 0.5em 0;
    text-align: center;
}

#wmd-panel, #wmd-preview, #wmd-html {
    margin: 0.5em 0;
}

#wmd-spinner-area {
    text-align: center;
    width: 100%;
}
#wmd-spinner {
    background-image: url('spinner_48x48.gif');
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 48px;
    width: 48px;
}
#wmd-file-title {
    font-size: 1.2em;
    font-weight: bold;
}
#wmd-button-bar {
    overflow: hidden;
}

#wmd-input, #wmd-preview, #wmd-html {
    height: 400px;
}

#wmd-input {
    background-color: #eee;
    width: 100%;
}

#wmd-preview {
    border: 1px solid #555;
    overflow: auto;
    padding: 0.25em;
    width: 98%;
}
#wmd-preview > p:first-of-type {
    margin-top: 0.25em;
}
#wmd-preview > p:last-of-type {
    margin-bottom: 0.25em;
}

#wmd-html {
    background-color: #ccc;
    width: 100%;
}

textarea {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

.clickable {
    cursor: pointer;
    color: #00e;
}

#directory {
    border: 1px solid #555;
    margin: 0 auto 1em;
    max-width: 400px;
}
#directory-content-header {
    background-color: #ccc;
    padding: 0.25em;
}
#directory-content-entries {
    padding: 0.25em;
}
#directory-content-entries.no-entries {
    background-color: #ccc;
    font-style: italic;
}
#file-add {
    border-top: 1px solid #555;
    padding: 0.25em;
    font-style: italic;
}
#file-rename {
    font-size: 0.8em;
}

#directory .filename {
    font-weight: bold;
}
#directory .filesize {
    font-style: italic;
    /*float: right;*/
}
#directory-content-refresh, #directory-content-spinner {
    background-position: center center;
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    float: right;
}
#directory-content-refresh {
    background-image: url('refresh.png');
}
#directory-content-spinner {
    background-image: url('spinner_16x16.gif');
}

#directory, #wmd-preview {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

#user-info {
    background-color: #ccc;
    border: 1px solid #555;
    float: right;
}
#user-name {
    font-weight: bold;
}
#user-logout {
    border: 1px solid #555;
}

/* Smartphone */
@media screen and (max-width: 320px) {
    body {
        font-size: 0.6em;
    }
    #main {
        padding: 0.75em 2px;
    }
}
/* Low-res */
@media screen and (max-width: 540px) {
    body {
        font-size: 0.7em;
    }
    #main {
        padding: 0.75em 0.25em;
    }
}
/* Tablet */
@media screen and (max-width: 768px) {
    body {
        font-size: 0.8em;
    }
}
/* Netbook */
@media screen and (max-width: 1024px) {
    body {
        font-size: 0.9em;
    }
}