body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #000;
}

a, a:link, a:hover, a:active, a:visited {
    color: #00e;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

pre.prettyprint {
    /*background-color: #eee;*/
    /*border: none;*/
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    max-height: 300px;
    overflow: auto;
    padding: 0.4em;
    width: auto;
}
pre.prettyprint, code.prettyprint {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    background-color: #ccc;
}

p code {
    padding: 0 0.25em;
}

textarea {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

.clickable {
    cursor: pointer;
    color: #00e;
}

#message-box {
    width: 100%;
}
#message-box div, html.no-js #message-box noscript {
    background-color: #FDEDC1;
    border-bottom: 1px solid #000;
    color: #000;
    display: block;
    padding: 0.5em 0;
    text-align: center;
}
#message-box .error {
    background-color: #FF4500;
    color: #ddd;
}
#message-box .error, #message-box .message {
    cursor: pointer;
}

.no-display {
    display: none;
}

#container {
    margin: 0 auto;
    max-width: 800px;
}

#top {
    background-image: url('logo.png');
    background-position: right center;
    background-repeat: no-repeat;
    background-color: #000;
    color: #fff;
    padding: 0.75em 45px 0.75em 0;
}
#top a, #top a:link, #top a:hover, #top a:active, #top a:visited {
    color: #fff;
    font-style: normal;
}
#logo-text {
    float: right;
    font-weight: bold;
}
#auth {
    float: left;
    font-size: 0.8em;
    line-height: 2.5em;
}

#main {
    background-color: #fff;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    color: #000;
    padding: 0.75em 0.5em;
}

#footer {
    background-color: #555;
    color: #ccc;
    font-size: 0.75em;
    padding: 0.5em 0;
    text-align: center;
}
#footer a, #footer a:link, #footer a:hover, #footer a:active, #footer a:visited {
    color: #ccc;
    text-decoration: none;
}

#wmd-panel, #wmd-pretty-preview, #wmd-html {
    margin: 0.5em 0;
}

#wmd-spinner-area {
    text-align: center;
    width: 100%;
}
#wmd-spinner {
    background-image: url('spinner_48x48.gif');
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 48px;
    width: 48px;
}
#wmd-file-title {
    font-size: 1.2em;
    font-weight: bold;
}
#wmd-button-bar {
    overflow: hidden;
}

.wmd-box {
    font-size: 0.9em;
    height: 400px;

    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
    border: 1px solid #555;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;

    -webkit-border-radius: 3px;
    border-radius: 3px;
    overflow: auto;
}
div.wmd-box {
    padding: 0.1em;
    width: 99.5%;
}
textarea.wmd-box {
    width: 100%;
}

#wmd-input {
    background-color: #eee;
}
#wmd-pretty-preview {
    padding: 0.25em;
    width: 99%;
}
#wmd-pretty-preview > p:first-of-type {
    margin-top: 0.25em;
}
#wmd-pretty-preview > p:last-of-type {
    margin-bottom: 0.25em;
}
#wmd-html {
    background-color: #ccc;
}

#auto-save-section {
    font-size: 0.8em;
}

#save-spinner {
    background-image: url('spinner_16x16.gif');
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
}
#save-spinner.no-display {
    display: none;
}

#directory {
    border: 1px solid #555;
    font-size: 0.9em;
    margin: 0 auto 1em;
    max-width: 500px;
}
#directory-content-header {
    background-color: #999;
    padding: 0.25em;
}
#directory-content-entries {
    /*font-size: 0.9em;*/
    /*padding: 0.25em;*/
}
#directory-content-entries .no-files {
    background-color: #ccc;
    font-style: italic;
}
#directory-content-entries .entry {
    border-bottom: 1px solid #ccc;
    padding: 0.1em 0.25em;
}
#directory-content-entries .nav {
    /*margin-bottom: 0.25em;*/
    background-color: #eee;
}
#directory-content-entries .nav .filename {
    font-weight: normal;
}
#directory .filename {
    /*font-weight: bold;*/
}
#directory .filesize {
    font-size: 0.75em;
    /*font-style: italic;*/
    /*float: right;*/
}

#file-add {
    background-color: #ddd;
    border-top: 1px solid #555;
    padding: 0.25em;
    font-style: italic;
}
#file-add input[type="text"] {
    width: 50%;
}

#file-rename-textbox {
    width: 50%;
}

#directory-content-refresh, #directory-content-spinner {
    /*background-position: center center;
    background-repeat: no-repeat;*/
    height: 16px;
    width: 16px;
    float: right;
}
/*#directory-content-refresh {
    background-image: url('refresh.png');
}*/
#directory-content-spinner {
    background-image: url('spinner_16x16.gif');
}

#directory {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

#user-info {
    background-color: #ccc;
    border: 1px solid #555;
    float: right;
}
#user-name {
    font-weight: bold;
}
#user-logout {
    border: 1px solid #555;
}
#last-save {
    font-size: 0.8em;
}

@media screen and (max-width: 235px) {
    #auth {
        display: none;
    }
}
/* Smartphone */
@media screen and (max-width: 320px) {
    body {
        font-size: 0.6em;
    }
    #login-name {
        display: none;
    }
    #message-box {
        font-size: 0.8em;
    }
    #main {
        padding: 0.75em 2px;
    }
    div.wmd-box {
        width: 97%;
    }
}
/* Low-res */
@media screen and (max-width: 540px) {
    body {
        font-size: 0.7em;
    }
    #login-name {
        font-size: 0.9em;
    }
    #message-box {
        font-size: 0.9em;
    }
    #main {
        padding: 0.75em 0.25em;
    }
    
    textarea.wmd-box {
        width: 99.3%;
    }
    div.wmd-box {
        width: 98%;
    }
}
/* Tablet */
@media screen and (max-width: 768px) {
    body {
        font-size: 0.8em;
    }
}
/* Netbook */
@media screen and (max-width: 1024px) {
    body {
        font-size: 0.9em;
    }
}